<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responstyle.css">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <title>Alchonol</title>
</head>

<body>
    <header>

    </header>
    <main>
        <section>
            <div class="banner">
                <!-- OVERLAY FROM VIDEO -->
                <!-- <div class="video_overlay"></div> -->
                <!-- VIDEO SOURCE -->
                <video autoplay muted loop>
                    <source src="../assets/video/shop.mp4" type="video/mp4" frameborder="0" allowfullscreen>
                </video>
            </div>
        </section>
        <section>
            <div class="bannerr">
                <!-- OVERLAY FROM VIDEO -->
                <!-- <div class="video_overlay"></div> -->
                <!-- VIDEO SOURCE -->
                <video autoplay muted loop>
                    <source src="../assets/video/shop-mob.mp4" type="video/mp4" frameborder="0" allowfullscreen>
                </video>
            </div>
        </section>
        <!-- HOME PAGE FIRST SECTION -->
        <section id="home-first">
            <div class="container">
                <div class="jumbotron" style="background-color: transparent;">
                    <div class="content">
                        <!-- TEXT IN HERE -->
                        <h5 class="display-5">INTRODUCTION</h5>
                        <h1 class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias!</h1>
                    </div>
                </div>
            </div>

        </section>
        <!-- SEC SECTION OF HOME -->
        <section id="home-sec" class="pt-5">
            <div class="sec-pad">
                <div class="pl-5" style="z-index: 1;">
                    <h5 class="display-5" style="z-index: 0;"><i>Discover Seedlip</i></h5>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-xl-6" style="padding-left: 0px; padding-right: 0px;">
                        <div class="fontimg text-center">
                            <h3 class="lead">INTRODUCING</h3>
                            <h5 class="display-5">THE NOGRONI(R)</h5>
                            <h5 class="lead">The NOgroni is a bold & bittersweet contemporary take on a classic cocktail
                                made with a perfectly balanced mix of Seedlip Spice 94, Æcorn Bitter & Æcorn Aromatic.
                            </h5>
                            <button type="button" class="btn btn-ref">Explore</button>

                        </div>
                        <div class="mycon">
                            <img clas="" src="../assets/img/The_NOgroni.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-xl-6">
                        <div class="row">
                            <div class="col-12 col-md-6 col-xl-6" style="padding-left: 0px; padding-right: 0px;">
                                <div class="card">
                                    <div class="mycon1">
                                        <img src="../assets/img/sub-1grove-1garden-1spice_ca31e67d-c08e-4cb8-9621-3f345d7025de_400x.jpg"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6" style="padding-left: 0px; padding-right: 0px;">
                                <div class="card">
                                    <div class="mycon1">
                                        <img src="../assets/img/sub-1grove-1garden-1spice_ca31e67d-c08e-4cb8-9621-3f345d7025de_400x.jpg"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6" style="padding-left: 0px; padding-right: 0px;">
                                <div class="card">
                                    <div class="mycon1">
                                        <img src="../assets/img/sub-1grove-1garden-1spice_ca31e67d-c08e-4cb8-9621-3f345d7025de_400x.jpg"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6" style="padding-left: 0px; padding-right: 0px;">
                                <div class="card">
                                    <div class="mycon1">
                                        <img src="../assets/img/sub-1grove-1garden-1spice_ca31e67d-c08e-4cb8-9621-3f345d7025de_400x.jpg"
                                            alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 3RD SECTION OF  HOME -->
        <section id="home-third" class="pt-5">
            <div class="third-pad">
                <div class="pl-5" style="z-index: 1;">
                    <h5 class="display-5" style="z-index: 0;"><i>Signature Serves</i></h5>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 col-xl-3" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card">
                            <div class="img-hover-zoom">
                                <img class="" src="../assets/img/Espresso_Martino-tinyjpg.jpg"
                                    style="height: auto; width: 100%;" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-3" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card">
                            <div class="img-hover-zoom">
                                <img src="../assets/img/Espresso_Martino-tinyjpg.jpg" style="height: auto; width: 100%;"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-3" style="padding-left: 0px; padding-right: 0px;">
                        <div class="thirdtext">
                            <div class="text-center">
                                <h3 class="lead">COCKTAILS</h3>
                                <h5 class="lead">From simple serves to something more special; make delicious
                                    non-alcoholic cocktails at home with our selection of easy to follow recipes.
                                </h5>
                                <button type="button" class="btn btn-reff mb-3">COCKTAILS</button>

                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-3" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card">
                            <div class="img-hover-zoom">
                                <img src="../assets/img/Espresso_Martino-tinyjpg.jpg" style="height: auto; width: 100%;"
                                    alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- 4th SECTION OF HOME -->
        <section id="home-sec" class="pt-5">
            <div class="sec-pad">
                <div class="pl-5" style="z-index: 1;">
                    <h5 class="display-5" style="z-index: 0;"><i>Grove 42</i></h5>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-xl-6" style="padding-left: 0px; padding-right: 0px;">
                        <div class="fontimg text-center">
                            <h3 class="lead">INTRODUCING</h3>
                            <h5 class="display-5">THE NOGRONI(R)</h5>
                            <h5 class="lead">The NOgroni is a bold & bittersweet contemporary take on a classic cocktail
                                made with a perfectly balanced mix of Seedlip Spice 94, Æcorn Bitter & Æcorn Aromatic.
                            </h5>
                            <button type="button" class="btn btn-ref">Learn More</button>

                        </div>
                        <div class="mycon">
                            <img clas="" src="../assets/img/SDL_SPICE_02.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-xl-6">
                        <div class="row">
                            <div class="col-12 col-md-6 col-xl-6" style="padding-left: 0px; padding-right: 0px;">
                                <div class="thirdtext">
                                    <div class="text-center">
                                        <h3 class="lead">COCKTAILS</h3>
                                        <h5 class="lead">From simple serves to something more special; make delicious
                                            non-alcoholic cocktails at home with our selection of easy to follow
                                            recipes.
                                        </h5>
                                        <button type="button" class="btn btn-reff mb-3">COCKTAILS</button>

                                    </div>

                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6" style="padding-left: 0px; padding-right: 0px;">
                                <div class="card">
                                    <div class="img-hover-zoom">
                                        <img class="" src="../assets/img/Espresso_Martino-tinyjpg.jpg"
                                            style="height: auto; width: 100%;" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6" style="padding-left: 0px; padding-right: 0px;">
                                <div class="card">
                                    <div class="img-hover-zoom">
                                        <img class="" src="../assets/img/Espresso_Martino-tinyjpg.jpg"
                                            style="height: auto; width: 100%;" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6" style="padding-left: 0px; padding-right: 0px;">
                                <div class="card">
                                    <div class="img-hover-zoom">
                                        <img class="" src="../assets/img/Espresso_Martino-tinyjpg.jpg"
                                            style="height: auto; width: 100%;" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 5TH SECTION OF HOME -->
        <section id="home-third" class="pt-5">
            <div class="third-pad">
                <div class="pl-5" style="z-index: 1;">
                    <h5 class="display-5" style="z-index: 0;"><i>The 70CL Collection</i></h5>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 col-xl-4" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card">
                            <div class="mycon3">
                                <img src="../assets/img/Beasley_bundle_garden_250x.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-4" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card">
                            <div class="mycon3">
                                <img src="../assets/img/Beasley_bundle_garden_250x.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-4" style="padding-left: 0px; padding-right: 0px;">
                        <div class="card">
                            <div class="mycon3">
                                <img src="../assets/img/Beasley_bundle_garden_250x.png" alt="">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- 5th SEACTION OF HOME -->
        <section id="home-sec" class="pt-5">
            <div class="sec-pad">
                <div class="pl-5" style="z-index: 1;">
                    <h5 class="display-5" style="z-index: 0;"><i>Thoughts & Extracts</i></h5>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-xl-6" style="padding-left: 0px; padding-right: 0px;">
                        <div class="fontimg1 text-center">
                            <h3 class="lead">INTRODUCING</h3>
                            <h5 class="display-5">THE NOGRONI(R)</h5>
                            <button type="button" class="btn btn-ref">Explore</button>

                        </div>
                        <div class="mycon">
                            <img clas="" src="../assets/img/SDL_SPICE_02.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-xl-6">
                        <div class="row">
                            <div class="col-12 col-md-6 col-xl-6" style="padding-left: 0px; padding-right: 0px;">
                                <div class="card">
                                    <div class="photooverlay1"></div>
                                    <div class="fontimg2 text-center">
                                        <h3 class="lead">Lorem ipsum dolor sit amet consectetur?</h3>
                                        <button type="button" class="btn btn-ref">News</button>

                                    </div>
                                    <div class="">
                                        <img class="" src="../assets/img/Grove_Tonic.jpg"
                                            style="height: auto; width: 100%;" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6" style="padding-left: 0px; padding-right: 0px;">
                                <div class="card">
                                    <div class="photooverlay"></div>
                                    <div class="fontimg3 text-center">
                                        <h3 class="lead">GET OUR LATEST UPDATES</h3>
                                        <h5>Sign up to our newsletter and get exclusive. Seedlip news, updates and
                                            offers.</h5>
                                        <input placeholder="name@address.com" name="EMAIL" tabindex="-1"
                                            class="input__input">
                                        <h5 class="lead pt-5">By submitting this form, you agree to the Terms of Use and
                                            Privacy of this website</h5>
                                    </div>
                                    <div class="">
                                        <img class="" src="../assets/img/RL___corn_NOgroni_W1f.jpg"
                                            style="height: auto; width: 100%;" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6" style="padding-left: 0px; padding-right: 0px;">
                                <div class="card">
                                    <div class="photooverlay"></div>

                                    <div class="">
                                        <img class="" src="../assets/img/Espresso_Martino-tinyjpg.jpg"
                                            style="height: auto; width: 100%;" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6" style="padding-left: 0px; padding-right: 0px;">
                                <div class="card">
                                    <div class="photooverlay1"></div>
                                    <div class="fontimg2 text-center">
                                        <h3 class="lead">Lorem ipsum dolor sit amet consectetur?</h3>
                                        <button type="button" class="btn btn-ref">Stories</button>

                                    </div>
                                    <div class="img-hover-zoom">
                                        <img class="" src="../assets/img/RL___corn_NOgroni_W1f.jpg"
                                            style="height: auto; width: 100%;" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
    </footer>
    <script src="../assets/js/script.js"></script>

    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>

</body>

</html>